/* line 2, ../sass/blogs.scss */
.page-blogs .page-header {
  display: none;
}
/* line 6, ../sass/blogs.scss */
.page-blogs .view-filters .form-type-textfield select {
  height: 30px;
  padding: 0px 10px;
}
/* line 10, ../sass/blogs.scss */
.page-blogs .view-filters .form-type-textfield select.shs-select-level-2 {
  margin-left: 10px;
}
/* line 13, ../sass/blogs.scss */
.page-blogs .view-filters .views-submit-button button {
  height: 30px;
  padding: 0px 20px;
  width: 100px;
  text-transform: uppercase;
}
/* line 24, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content {
  padding-top: 20px;
}
/* line 27, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content .views-row .views-field-title {
  padding: 10px 0px;
}
/* line 29, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content .views-row .views-field-title .field-content {
  font-size: 2rem;
  font-family: demifont;
}
/* line 33, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content .views-row .views-field-title a {
  text-transform: uppercase;
}
/* line 37, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content .views-row .views-field-view-node {
  padding: 10px 0px;
}
/* line 40, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-content .views-row .views-field-field-rating span {
  font-family: demifont;
}
/* line 50, ../sass/blogs.scss */
.page-blogs .view-id-blogs .view-empty p {
  font-family: demifont;
}
