/* line 2, ../sass/education-section.scss */
.page-techsection .breadcrumb, .page-nontechsection .breadcrumb, .page-its-show-time .breadcrumb {
  display: none;
}
/* line 5, ../sass/education-section.scss */
.page-techsection .views-row:nth-child(3n+1), .page-nontechsection .views-row:nth-child(3n+1), .page-its-show-time .views-row:nth-child(3n+1) {
  clear: both;
}
/* line 8, ../sass/education-section.scss */
.page-techsection .views-field.views-field-title span, .page-nontechsection .views-field.views-field-title span, .page-its-show-time .views-field.views-field-title span {
  text-align: center;
  font-size: 2rem;
  color: orange;
}
/* line 14, ../sass/education-section.scss */
.page-techsection .media-youtube-video, .page-nontechsection .media-youtube-video, .page-its-show-time .media-youtube-video {
  position: relative;
  padding-top: 56.25%;
}
/* line 17, ../sass/education-section.scss */
.page-techsection .media-youtube-video .media-youtube-player, .page-nontechsection .media-youtube-video .media-youtube-player, .page-its-show-time .media-youtube-video .media-youtube-player {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
/* line 25, ../sass/education-section.scss */
.page-techsection .view-display-id-technical_links .view-content .views-row, .page-nontechsection .view-display-id-technical_links .view-content .views-row, .page-its-show-time .view-display-id-technical_links .view-content .views-row {
  padding-bottom: 60px;
}
/* line 27, ../sass/education-section.scss */
.page-techsection .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo, .page-nontechsection .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo, .page-its-show-time .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 30, ../sass/education-section.scss */
.page-techsection .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo .img-responsive, .page-nontechsection .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo .img-responsive, .page-its-show-time .view-display-id-technical_links .view-content .views-row .field-name-field-site-logo .img-responsive {
  height: 50px;
}
/* line 37, ../sass/education-section.scss */
.page-techsection .view-display-id-technical_links .views-field-field-most-useful-sites .field-collection-view, .page-nontechsection .view-display-id-technical_links .views-field-field-most-useful-sites .field-collection-view, .page-its-show-time .view-display-id-technical_links .views-field-field-most-useful-sites .field-collection-view {
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
}
/* line 45, ../sass/education-section.scss */
.page-techsection .view-display-id-tech_videos, .page-techsection .view-display-id-non_technical, .page-techsection .view-id-it_s_show_time, .page-nontechsection .view-display-id-tech_videos, .page-nontechsection .view-display-id-non_technical, .page-nontechsection .view-id-it_s_show_time, .page-its-show-time .view-display-id-tech_videos, .page-its-show-time .view-display-id-non_technical, .page-its-show-time .view-id-it_s_show_time {
  padding-top: 50px;
}
/* line 47, ../sass/education-section.scss */
.page-techsection .view-display-id-tech_videos .views-field-field-tech-video, .page-techsection .view-display-id-non_technical .views-field-field-tech-video, .page-techsection .view-id-it_s_show_time .views-field-field-tech-video, .page-nontechsection .view-display-id-tech_videos .views-field-field-tech-video, .page-nontechsection .view-display-id-non_technical .views-field-field-tech-video, .page-nontechsection .view-id-it_s_show_time .views-field-field-tech-video, .page-its-show-time .view-display-id-tech_videos .views-field-field-tech-video, .page-its-show-time .view-display-id-non_technical .views-field-field-tech-video, .page-its-show-time .view-id-it_s_show_time .views-field-field-tech-video {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 51, ../sass/education-section.scss */
.page-techsection .view-display-id-tech_videos .views-field-field-video-link, .page-techsection .view-display-id-non_technical .views-field-field-video-link, .page-techsection .view-id-it_s_show_time .views-field-field-video-link, .page-nontechsection .view-display-id-tech_videos .views-field-field-video-link, .page-nontechsection .view-display-id-non_technical .views-field-field-video-link, .page-nontechsection .view-id-it_s_show_time .views-field-field-video-link, .page-its-show-time .view-display-id-tech_videos .views-field-field-video-link, .page-its-show-time .view-display-id-non_technical .views-field-field-video-link, .page-its-show-time .view-id-it_s_show_time .views-field-field-video-link {
  padding-bottom: 10px;
}
/* line 54, ../sass/education-section.scss */
.page-techsection .view-display-id-tech_videos .views-field.views-field-title span, .page-techsection .view-display-id-non_technical .views-field.views-field-title span, .page-techsection .view-id-it_s_show_time .views-field.views-field-title span, .page-nontechsection .view-display-id-tech_videos .views-field.views-field-title span, .page-nontechsection .view-display-id-non_technical .views-field.views-field-title span, .page-nontechsection .view-id-it_s_show_time .views-field.views-field-title span, .page-its-show-time .view-display-id-tech_videos .views-field.views-field-title span, .page-its-show-time .view-display-id-non_technical .views-field.views-field-title span, .page-its-show-time .view-id-it_s_show_time .views-field.views-field-title span {
  text-align: center;
}
/* line 60, ../sass/education-section.scss */
.page-techsection .views-field-field-rating span, .page-nontechsection .views-field-field-rating span, .page-its-show-time .views-field-field-rating span {
  font-family: demifont;
  color: #337ab7;
}

/* line 68, ../sass/education-section.scss */
.page-its-show-time .footer.container {
  display: none;
}
