/* line 2, ../sass/my-projects.scss */
.page-myprojects .page-header {
  text-align: center;
  font-size: 2.5rem;
  font-family: normalfont;
}
/* line 7, ../sass/my-projects.scss */
.page-myprojects .views-row {
  padding-bottom: 30px;
}
/* line 10, ../sass/my-projects.scss */
.page-myprojects .views-accordion-header {
  background: #4CB0BB;
  font-size: 2rem;
}
/* line 13, ../sass/my-projects.scss */
.page-myprojects .views-accordion-header .field-content {
  color: white;
  font-family: demifont;
}
/* line 18, ../sass/my-projects.scss */
.page-myprojects .ui-accordion-content {
  font-family: normalfont;
}
/* line 20, ../sass/my-projects.scss */
.page-myprojects .ui-accordion-content .field-content {
  display: inline;
}
/* line 24, ../sass/my-projects.scss */
.page-myprojects .ui-accordion-content .views-field-field-project-link a {
  color: orange;
}
/* line 29, ../sass/my-projects.scss */
.page-myprojects .ui-accordion-content .views-field-view-node a {
  color: blue;
}
/* line 34, ../sass/my-projects.scss */
.page-myprojects .views-field {
  padding-bottom: 5px;
}
