$blue: #04638a;
$yellow: #fcc930;
$dark-grey: #45474b;
$light-grey: #eae9ef;
$pink: #ff1493;
$light-blue: #87ceeb;

$dancing-font: 'Dancing Script', cursive;
$lobster-font: 'Lobster', cursive;
$montserrat-font: 'Montserrat', sans-serif;

%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%flex-wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

img {
  max-width: 100%;
}

body.html {
  font-family: $montserrat-font;
  font-weight: 400;
  font-size: 1rem;
}

@mixin read-more($color) {
  margin-top: 20px;
  text-align: center;
  a {
    border: 1px solid $color;
    color: $color;
    background: #fff;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s all;
    &:hover {
      color: #fff;
      background: $color;
    }
  }
}
