.page-tech-section, .page-nontech-section {
  .views-field.views-field-title span{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        color: orange;
        font-family: cursive;
  }
  .media-youtube-video {
    position: relative;
    padding-top: 56.25%;
    .media-youtube-player {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
    }
  }
  .view-display-id-technical_links {
    .view-content .views-row {
      padding-bottom: 60px;
      .field-name-field-site-logo {
        padding-bottom: 10px;
        padding-top: 10px;
        .img-responsive {
          height: 50px;
        }

      }
    }
    .views-field-field-most-useful-sites{
      .field-collection-view {
        display: inline-block;
        vertical-align: top;
        padding-left: 50px;
      }
    }
  }

  .view-display-id-tech_videos, .view-display-id-non_technical {
    padding-top: 50px;
    .views-field-field-tech-video {
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .views-field-field-video-link {
      padding-bottom: 10px;
    }
    .views-field.views-field-title span{
      text-align: center;
      font-weight: bold;
    }
  }
}
