.page-myprofile {
  .page-header {
    display :none;
  }
  .views-field-title {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    span {
      font-size: 2.5rem;
      color: darkslateblue;
    }
  }
  .views-field-field-email {
    padding-bottom: 30px;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
  }
  .views-field-field-photo {
    display: inline-block;
    img {
      width: 220px;
      height: 220px;
      margin: auto;
      border: 1px solid black;
      // border-radius: 50%;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
    }
    .field-content {
      @media screen and (max-width: 1199px) {
        width: 100%;
        margin: auto;
      }
      @media screen and (max-width: 991px) {
        width: 60%;
        margin: auto;
      }
    }
  }
  .views-field-field-whoami {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    padding: 15px 30px;
    text-align: justify;
    @media screen and (max-width: 991px) {
      width: 100%;
      padding: 0px;
      padding-top: 20px;
    }
    @media screen and (min-width: 992px) and (max-width:1199px) {
      padding: 0px 15px;
    }
    .field-content {
      p {
        font-size: 1.5rem;
        line-height: 1.5;
        word-spacing: 3px;
      }
      span.bold-names, .uppercase-words {
        font-family: demifont;
        color: #337ab7;
      }
      .uppercase-words {
        text-transform: uppercase;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: normalfont;
    font-size: 1.5rem;
  }
  th, td {
      text-align: left;
      padding: 15px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
  th {
      background-color: #4CB0BB;
      color: white;
  }
  .views-field-field-technical-skills {
    .main-technical-block {
      padding-top: 20px;
      .technical-skills {
        padding-bottom: 15px;
        p {
          font-family: demifont;
        }
      }
      .content {
        border: 2px solid gray;
        padding: 20px;
        box-shadow: 10px 10px 10px #888888;
      }
      .sub, p, .sub-name {
        display: inline-block;
        font-size: 1.5rem;
      }
      .sub {
        width: 15%;
        font-weight: bold;
      }
      .sub-name {
        font-size: 1.5rem;
      }
    }
  }

  .views-label-field-my-projects, .views-label-field-certificates, .academic-title {
    font-family: demifont;
  }

  .views-field-field-certificates, .views-field-field-my-projects {
    padding-top: 30px;
    .field-content {
      padding-top: 10px;
    }
   .project-link a {
      font-size: 18px;
      font-weight: bold;
      background-color: #4CB0BB;
      color: white;
      padding: 10px 25px;
      opacity: 0.8;
      border-radius: 0px;
      border-color: white;
      text-align: center;
      display: block;
      width: 20%;
      margin: auto;
      clear: both;
      text-align: center;
      padding: 12px 0px;
      @media screen and (max-width: 991px) {
        width: 30%;
      }
      @media screen and (max-width: 767px) {
        width: 50%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }

  .views-field-field-technical-skills-new {
    padding-top: 30px;
    span {
      font-family: demifont;
      font-size: 1.5rem;
    }
    .field-collection-view {
      display: inline-block;
      padding-right: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
      @media screen and (max-width: 1199px) {
        padding-right: 35px;
      }
      @media screen and (min-width: 690px) and (max-width: 734px) {
        padding-right: 80px;
        padding-left: 50px;
      }
      @media screen and (min-width: 550px) and (max-width: 689px) {
        padding-right: 30px;
        padding-left: 30px;
      }
      @media screen and (min-width: 320px) and (max-width: 549px) {
        margin-left: 20%;
      }
    }
    .field-collection-view:last-child {
      display: block;
    }
    .field-content {
      padding-top: 10px;
      .field-name-field-subject {
        padding-bottom: 15px;
      }
      .field-name-field-tech-logo img {
        width: 200px;
        height: 120px;
      }
      .content .field-items .field-item {
        font-family: normalfont;
      }
    }
  }
}
