.page-myprojects {
  .page-header {
    text-align: center;
    font-size: 2.5rem;
    font-family: normalfont;
  }
  .views-row {
    padding-bottom: 30px;
  }
  .views-accordion-header {
    background: #4CB0BB;
    font-size: 2rem;
    .field-content {
      color: white;
      font-family: demifont;
    }
  }
  .ui-accordion-content {
    font-family: normalfont;
    .field-content {
      display: inline;
    }
    .views-field-field-project-link {
      a {
        color: orange;
      }
    }
    .views-field-view-node {
      a {
        color: blue;
      }
    }
  }
  .views-field {
    padding-bottom: 5px;
  }
}
