/* line 24, ../sass/_variables.scss */
img {
  max-width: 100%;
}

/* line 28, ../sass/_variables.scss */
body.html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 3, ../sass/general.scss */
#navbar {
  background: transparent;
  border: 0;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 9, ../sass/general.scss */
#navbar .navbar-header .logo {
  display: none;
}
/* line 12, ../sass/general.scss */
#navbar .navbar-header .navbar-brand {
  color: #000;
  font-family: "Lobster", cursive;
}
/* line 17, ../sass/general.scss */
#navbar #navbar-collapse {
  text-align: right;
  border: 0;
}
/* line 20, ../sass/general.scss */
#navbar #navbar-collapse .navbar-nav > .active > a, #navbar #navbar-collapse .navbar-nav > .active > a:hover, #navbar #navbar-collapse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #333;
}
@media screen and (max-width: 767px) {
  /* line 17, ../sass/general.scss */
  #navbar #navbar-collapse {
    background: #45474b;
    color: #fff;
    text-align: right;
  }
  /* line 27, ../sass/general.scss */
  #navbar #navbar-collapse .navbar-nav {
    display: block;
    color: #fff;
  }
  /* line 30, ../sass/general.scss */
  #navbar #navbar-collapse .navbar-nav a, #navbar #navbar-collapse .navbar-nav li {
    color: #fff;
  }
  /* line 33, ../sass/general.scss */
  #navbar #navbar-collapse .navbar-nav a {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 39, ../sass/general.scss */
  #navbar #navbar-collapse .dropdown-menu {
    text-align: right;
    background-color: #393a3e;
  }
  /* line 43, ../sass/general.scss */
  #navbar #navbar-collapse .navbar-nav > .active > a, #navbar #navbar-collapse .navbar-nav > .active > a:hover, #navbar #navbar-collapse .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
  }
}
/* line 49, ../sass/general.scss */
#navbar .navbar-nav {
  float: none;
  display: inline-block;
}
/* line 52, ../sass/general.scss */
#navbar .navbar-nav a {
  color: #777;
  font-size: 1.2rem;
  background-color: transparent;
}
/* line 58, ../sass/general.scss */
#navbar .navbar-nav li a {
  padding: 10px;
}

/* line 65, ../sass/general.scss */
.block-webform.contact-form {
  max-width: 400px;
  padding: 20px;
  position: relative;
  color: #fff;
  background: #45474b;
}
