/* line 12, ../sass/_variables.scss */
.home-page-blogs .view-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 20, ../sass/_variables.scss */
.home-page-blogs .view-content {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/* line 26, ../sass/_variables.scss */
img {
  max-width: 100%;
}

/* line 30, ../sass/_variables.scss */
body.html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 3, ../sass/home.scss */
body.front {
  background-image: url(../images/Background.png);
}
/* line 5, ../sass/home.scss */
body.front:before {
  content: "";
  background: #fff;
  height: 100%;
  position: absolute;
  width: 60%;
  right: 0;
  top: 0;
}
/* line 14, ../sass/home.scss */
body.front #block-system-main {
  display: none;
}
/* line 18, ../sass/home.scss */
body.front .main-container.container {
  width: 100%;
  max-width: 100%;
  padding: 0 25px;
}

/* line 25, ../sass/home.scss */
.home-page-blogs {
  background: #fff;
}
/* line 29, ../sass/home.scss */
.home-page-blogs .block-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 480px) {
  /* line 29, ../sass/home.scss */
  .home-page-blogs .block-title {
    font-size: 2.4rem;
    padding: 0 10px 0;
    width: 100%;
  }
}
/* line 43, ../sass/home.scss */
.home-page-blogs .block-title:after {
  content: "";
  height: 3px;
  width: 50px;
  background: #04638a;
  display: block;
  margin-top: 7px;
}
/* line 53, ../sass/home.scss */
.home-page-blogs .view-header {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #777;
}
/* line 59, ../sass/home.scss */
.home-page-blogs .view {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
  /* line 59, ../sass/home.scss */
  .home-page-blogs .view {
    padding: 0 10px 50px;
    width: 100%;
  }
}
/* line 72, ../sass/home.scss */
.home-page-blogs .view-content .views-row {
  font-size: 1.3rem;
  width: calc(33.33% - 0.5px - 10px);
  margin: 0 5px 10px;
  background-color: #fff;
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #eee;
  padding: 20px;
  transition: 0.5s all;
}
/* line 81, ../sass/home.scss */
.home-page-blogs .view-content .views-row:hover {
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #87ceeb;
}
/* line 84, ../sass/home.scss */
.home-page-blogs .view-content .views-row:hover .views-field-title span {
  color: #87ceeb;
}
@media screen and (max-width: 767px) {
  /* line 72, ../sass/home.scss */
  .home-page-blogs .view-content .views-row {
    width: calc(50% - 0.5px - 10px);
  }
}
@media screen and (max-width: 480px) {
  /* line 72, ../sass/home.scss */
  .home-page-blogs .view-content .views-row {
    width: 100%;
    margin: 0 0px 10px;
  }
}
/* line 95, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-title {
  margin-bottom: 12px;
}
/* line 97, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-title span {
  transition: 0.5s all;
  font-size: 1.8rem;
  font-weight: 500;
}
/* line 103, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-created, .home-page-blogs .view-content .views-row .views-field-name {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}
/* line 107, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-created.views-field-name, .home-page-blogs .view-content .views-row .views-field-name.views-field-name {
  padding-right: 10px;
}
/* line 110, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-created span, .home-page-blogs .view-content .views-row .views-field-name span {
  font-size: 1.2rem;
  color: #777;
  font-style: italic;
}
/* line 114, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-created span a, .home-page-blogs .view-content .views-row .views-field-name span a {
  color: #777;
}
/* line 119, ../sass/home.scss */
.home-page-blogs .view-content .views-row .views-field-body {
  margin-bottom: 10px;
}
/* line 124, ../sass/home.scss */
.home-page-blogs .explore-more {
  margin-top: 20px;
  text-align: center;
}
/* line 39, ../sass/_variables.scss */
.home-page-blogs .explore-more a {
  border: 1px solid #04638a;
  color: #04638a;
  background: #fff;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s all;
}
/* line 51, ../sass/_variables.scss */
.home-page-blogs .explore-more a:hover {
  color: #fff;
  background: #04638a;
}

/* line 129, ../sass/home.scss */
.home-page-sec-1 {
  padding-bottom: 170px;
}
@media screen and (max-width: 767px) {
  /* line 129, ../sass/home.scss */
  .home-page-sec-1 {
    padding-bottom: 70px;
  }
}
/* line 134, ../sass/home.scss */
.home-page-sec-1 .overview {
  max-width: 85%;
  margin: auto;
  padding-top: 100px;
  font-size: 0px;
}
@media screen and (max-width: 767px) {
  /* line 134, ../sass/home.scss */
  .home-page-sec-1 .overview {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 134, ../sass/home.scss */
  .home-page-sec-1 .overview {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 146, ../sass/home.scss */
  .home-page-sec-1 .overview-image, .home-page-sec-1 .overview-text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
@media screen and (max-width: 767px) {
  /* line 152, ../sass/home.scss */
  .home-page-sec-1 .overview-image.overview-image, .home-page-sec-1 .overview-text.overview-image {
    max-width: 400px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 152, ../sass/home.scss */
  .home-page-sec-1 .overview-image.overview-image, .home-page-sec-1 .overview-text.overview-image {
    max-width: 100%;
  }
}
/* line 161, ../sass/home.scss */
.home-page-sec-1 .overview-image img, .home-page-sec-1 .overview-text img {
  border: 6px solid #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 768px) {
  /* line 165, ../sass/home.scss */
  .home-page-sec-1 .overview-image.overview-text, .home-page-sec-1 .overview-text.overview-text {
    padding-left: 25px;
  }
}
/* line 170, ../sass/home.scss */
.home-page-sec-1 .overview-image h2, .home-page-sec-1 .overview-text h2 {
  margin: 0;
  font-weight: 700;
  position: relative;
  font-size: 3rem;
}
@media screen and (max-width: 480px) {
  /* line 170, ../sass/home.scss */
  .home-page-sec-1 .overview-image h2, .home-page-sec-1 .overview-text h2 {
    font-size: 2.4rem;
  }
}
/* line 178, ../sass/home.scss */
.home-page-sec-1 .overview-image h2:after, .home-page-sec-1 .overview-text h2:after {
  content: "";
  height: 3px;
  width: 50px;
  background: #04638a;
  display: block;
  margin-top: 7px;
}
/* line 186, ../sass/home.scss */
.home-page-sec-1 .overview-image h2 span, .home-page-sec-1 .overview-text h2 span {
  display: block;
  text-transform: uppercase;
}
/* line 191, ../sass/home.scss */
.home-page-sec-1 .overview-image p, .home-page-sec-1 .overview-text p {
  font-size: 1.5rem;
  margin-top: 15px;
}

/* line 198, ../sass/home.scss */
.home_page_quote_block {
  position: relative;
  text-align: left;
}
@media screen and (min-width: 768px) {
  /* line 198, ../sass/home.scss */
  .home_page_quote_block {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 355px);
  }
}
@media screen and (max-width: 767px) {
  /* line 198, ../sass/home.scss */
  .home_page_quote_block {
    margin-bottom: 20px;
  }
}
/* line 209, ../sass/home.scss */
.home_page_quote_block .quote {
  width: 85%;
  color: #0086dd;
  font-size: 1.5rem;
  font-weight: 500;
  background: aliceblue;
}
/* line 215, ../sass/home.scss */
.home_page_quote_block .quote .quote-inner {
  background: url(../images/top.png) 15px 10px no-repeat, url(../images/btm.png) right bottom no-repeat;
  padding: 50px 70px 60px 75px;
}
@media screen and (max-width: 480px) {
  /* line 215, ../sass/home.scss */
  .home_page_quote_block .quote .quote-inner {
    background-size: 40px;
    padding: 45px 20px 45px 45px;
  }
}
@media screen and (max-width: 991px) {
  /* line 209, ../sass/home.scss */
  .home_page_quote_block .quote {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 767px) {
  /* line 209, ../sass/home.scss */
  .home_page_quote_block .quote {
    width: 100%;
  }
}
/* line 229, ../sass/home.scss */
.home_page_quote_block .quote .quote-text {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 500;
}
@media screen and (max-width: 1199px) {
  /* line 229, ../sass/home.scss */
  .home_page_quote_block .quote .quote-text {
    width: 100%;
  }
}
/* line 237, ../sass/home.scss */
.home_page_quote_block .quote .quote-author {
  font-style: italic;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  /* line 247, ../sass/home.scss */
  body.front .footer {
    width: calc(100% - 25px);
  }
}
@media screen and (max-width: 767px) {
  /* line 247, ../sass/home.scss */
  body.front .footer {
    text-align: center;
  }
}

/* line 256, ../sass/home.scss */
.block-webform.contact-form {
  display: inline-block;
  max-width: 350px;
  padding: 25px;
  position: relative;
  color: #fff;
  background: #45474b;
  border-radius: 45px 45px 0 0;
  border-radius: 45px;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 768px) {
  /* line 256, ../sass/home.scss */
  .block-webform.contact-form {
    margin-left: auto;
  }
}
/* line 270, ../sass/home.scss */
.block-webform.contact-form .block-title {
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  margin-bottom: 25px;
}
@media screen and (max-width: 480px) {
  /* line 270, ../sass/home.scss */
  .block-webform.contact-form .block-title {
    font-size: 2.4rem;
  }
}
/* line 278, ../sass/home.scss */
.block-webform.contact-form .block-title:after {
  content: "";
  height: 3px;
  width: 50px;
  background: #fff;
  display: block;
  margin-top: 7px;
}
/* line 288, ../sass/home.scss */
.block-webform.contact-form form label {
  font-size: 1.2rem;
  font-weight: 500;
}
/* line 292, ../sass/home.scss */
.block-webform.contact-form form .form-actions {
  text-align: center;
}
/* line 294, ../sass/home.scss */
.block-webform.contact-form form .form-actions button {
  background: #eae9ef;
  border: 0;
  border-radius: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 30px;
}
